.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin: 20px;
}
.span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  margin-right: 20px;
}
.btnList {
  cursor: pointer;
  width: 70px;
  border: none;
  color: white;
  margin-left: 50px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  background-color: tomato;
  font-size: 16px;
  border-radius: 28px;
}
.btnList:hover,
:focus {
  color: rgb(74, 160, 88);
  background-color: white;
}
